* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .mainContainer {
    background-color:#f7f9f9;
    padding: 20px;
    color: black;
    border-radius: 20px;
    margin: 10px;
    
    
    
  }
  .mainContent {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    
  }
  .mainContent img{
    width: 80px;
    border-radius: 8px;
  }
  .contentSection{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
  }
  .nameSection p{
        font-size: 14px;
        color: black;
  }
  .Link{
        text-decoration: none;
        margin-left: 2rem;
  }












  /* .Img img{
      width: 100px;
      border-radius: 50%;
      padding: 1rem;
  }
  .Img{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .Btn{
      padding: 8px 15px;
      background-color: white;
      border-radius: 20px;
      border: "none",
  }
  .nameSection{
    /* border: solid white 1px; */
   /* padding: 2px; */
  /* }
  .nameSection p{
      padding: 2px;
      font-size: 12px;
  }
  .Link{
      text-decoration: none;
      margin-left: 3rem;
  } */ 