
@media screen and (max-width: 600px) {
  .rightside {
    display: none;
  }
  .leftside {
    display: none;
  }
  .middle {
    display: none;
  }
  .bottom {
    display: block !important;
    position: fixed;
    bottom: 0;
    background-color: white;
  }
}
.bottom{
  display: none;
}
 

@media screen and (max-width: 900px) {
  .rightside {
    display: none;
  }
  .leftside {
    display: none;
  }
  .middle {
    display: none;
  }
}